# BEGIN Wings
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wings/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wings/index.php [L]
</IfModule>
# If you need to move this instance of wings, you can always delete this file, it is regenerated when it goes missing
# END Wings